.footer-container {
    height: 6rem;
    box-shadow: 0px 10px 10px 0px black;
    box-sizing: border-box;
    z-index: 100;
    background: linear-gradient(135deg, #011837, #1e3c82);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    color: white;
    .title {
        margin: 0;
        padding: 0 1rem;
        text-align: end;
    }
}
