.header-container {
    height: 4.5rem;
   background: linear-gradient(135deg, #011837, #1e3c82);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    .title {
        position: absolute;
        margin-left: 10px;
        top: 30%;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
    .icons {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        display: flex;
        gap: 20px;
        font-size: 30px;
        color: white;
        &:hover {
            cursor: pointer;
        }
        .profile-icon img {
            width: 30px;
            height: 30px;
        }
    }
}
